<div class="card m-3">
    <div class="card-header">
        <h4>{{ 'ABOUT.TITLE' | translate }} :</h4>
    </div>
    <div class="card-body">
        <p>{{ 'ABOUT.COMMENT1' | translate}}</p>
        <p>{{ 'ABOUT.COMMENT2' | translate}}</p>
        <p>{{ 'ABOUT.COMMENT3' | translate}}</p>
    </div>
    <ul class="list-group list-group-flush ">
        <li class="list-group-item">
            <ul>
                <li><b>{{ 'ABOUT.FRONTEND' | translate }} :</b>
                    <ul>
                        <li>Angular 2 (5.0.1)<br>ng2-file-upload, ngx-translate, ng4-loading-spinner ...<br> rxjs (Observable, BehaviorSubject )<br> JavaScript, TypeScript 2.4.2 </li>
                        <li>Boostrap v4.0.0-beta.2, HTML 5, CSS 3 </li>
                        <li>Tools : Node 6.10.3, npm, Angular CLI 1.6.0, Visual Studio Code </li>
                        <li>GIT, Github :<a href="https://github.com/patricou/docmanager_Front-End" target="_blank"> (Patricou : docmanager_Front-End)</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="list-group-item ">
            <ul>
                <li><b>{{ 'ABOUT.BACKEND' | translate }} :</b>
                    <ul>
                        <li>Java 1.8 (jdk1.8.0_131)</li>
                        <li>Spring 5.0.2.RELEASE, Spring Boot 2.0.0.M7 : Spring WebFux, Reactor Project</li>
                        <li>Tools : IntelliJ, Maven </li>
                        <li>GIT, Github :<a href="https://github.com/patricou/docmanager" target="_blank"> (Patricou : docmanager)</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="list-group-item ">
            <ul>
                <li><b>{{ 'ABOUT.DATA' | translate }} :</b>
                    <ul>
                        <li>API Rest, <a href="/swagger-ui.html" target="_blank">Swagger</a></li>
                        <li> Persistence :
                            <ul>
                                <li>DB : MongoDB (Reactive) <a href="https://mlab.com/welcome/" target="_blank">MLAB</a> ( for data and files )</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="list-group-item ">
            <ul>
                <li><b>{{ 'ABOUT.SECURITY' | translate }} :</b>
                    <ul>
                        <li>{{ 'ABOUT.NOTHING' | translate }}
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    <div class="card-body">
        <h6 class="card-text">{{ 'ABOUT.REF' | translate }} : </h6>
        <a href="https://182-193-28-81.ftth.cust.kwaoo.net:8001/" target="_blank">
            <img class="mx-auto d-block " src="assets/images/carte-visite.jpg " alt="Card image cap "></a>
        <div class="card-text text-right ">
            <small class="font-italic "><a href="https://182-193-28-81.ftth.cust.kwaoo.net:8001/" target="_blank"> www.patrickdeshamps.com</a> @2017&nbsp;&nbsp;</small>
        </div>
    </div>
</div>