.pat-lang-selector {
    position: fixed;
    right: 0px;
    top: 70px;
    z-index: 10;
}

.form-check-label {
    color: white;
}

.message-margin {
    margin-top: 130px;
}

[hidden] {
    display: none !important;
}